<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
</head>
<body>
<!--/*  Multiple fragments may be defined in one file */-->
<div th:align="center" th:fragment="footer">
    &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2021</span>
    <span th:text="${@environment.getProperty('library.name')}">Test Library</span>
</div>
<div th:align="center" th:fragment="footer-admin">
    &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2021</span>
    <span th:text="${@environment.getProperty('library.name')}">Test Library</span><br>
    App version: <span th:text="${@environment.getProperty('build.version')}"></span>
</div>
</body>
</html>